.Stories {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}


.StoryLink {
    margin-top: 0.5%;
    max-width: 15%;
    max-height: 1%;
    text-decoration: inherit;
    color: inherit;
}