.headerBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navigation {
    /*width: 50%;*/
    display: flex;
    justify-content: space-between;
}

/*img {*/
/*    margin-right: 80%;*/
/*}*/

/*.navigation {*/
/*    display: flex;*/
/*}*/